/* Elements */
::-webkit-scrollbar {width:var(--size-tiny); height:var(--size-tiny);} 
::-webkit-scrollbar-track {background: var(--bg);} 
::-webkit-scrollbar-thumb {background: #C5C5C5; border-radius: var(--size-tiny);} 
::selection {background-color: var(--accent); color: var(--bg);}

/* TABLES */
table {display: flex; flex-flow: column nowrap; border-radius: var(--size-smaller); border: .1em var(--border); border-collapse: collapse; overflow: hidden;}
caption {display: flex; justify-content: space-between; align-items: center; font-weight: bold; text-transform: uppercase; text-align: left;}
caption,th,td {padding: var(--size-smaller);}
caption,thead th {background-color: var(--bg);}
tr {display: flex; flex-flow: row wrap;}
tr:nth-child(odd) {background-color: var(--main-bg);}
tr:nth-child(even) {background-color: var(--bg);}
td:first-child {font-weight: bold;}
td {flex: 1;}

.flex {display: flex; gap: var(--size-smaller);}
.grid {display: grid; gap: var(--size-smaller);}
.icons {position: absolute; visibility: hidden;}

/* LISTS */
.list__inline {
    display: flex;
    flex-flow: row wrap;
    gap: var(--size-smaller);
    min-height: 3.5em;
    padding: 0;
    margin: 0;
    list-style: none;
}

#town_variants {
    & td:nth-child(2) {
        text-align: center;
    }
}

/** FULL HD 1920 - 55 (sidebar edge, opera) */
@media (min-width: 1865px) {
    .home {
        grid-template-areas: "profile stats" "skills stats";
        grid-template-columns: calc(80% - var(--size-smaller)) calc(20% - var(--size-smaller));
    }
}
/** 2K */
@media (min-width: 2560px) {
    * {font-size: 24px;}
}
/** 4K */
@media (min-width: 3840px) {
    * {font-size: 36px;}
}
/** 8K */
@media (min-width: 7680px) {
    * {font-size: 76px;}
}