:root {
    --main-bg: #f0f2f5; --bg: #fff; --transparent-bg: #ffffff80;
    --main-color: #333; --color: #c6d0ec;  --keep-color: #333;
    --accent: #87d6e3; --link: #1e5c91;

    --primary-gradient: linear-gradient(45deg,var(--bg),var(--main-bg));
    --secundary-gradient: linear-gradient(45deg,var(--main-bg),var(--bg));
    --border: solid #ffffff20;

    --size-large: 4em; --size-medium: 3em; --size-small: 2em; --size-smaller: 1em; --size-tiny: .5em; --size-xtiny: .25em;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg: #1c202f; --bg: #11141d; --transparent-bg: #11141d80; 
        --main-color: #c6d0ec; --color: #333;
        --accent: #879ee3; --link: #3ea6ff;
    }
}